.help__header {
    align-self: center;
    margin: 40px auto 0;
    color: white;
    font-family: DINPro;
    font-size: 26px;
    line-height: 125%;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .help__header {
        font-size: 20px;
    }
}