.header__logo {
    margin-left: 120px;
    width: 76px;
    height: 76px;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        margin-left: 32px;
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        width: 76px;
        height: 76px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        margin-left: 16px;
        width: 48px;
        height: 48px;
    }
}