.content-text__title {
    margin-top: 204px;
    margin-bottom: 0;

    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .content-text__title {
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 768px) {
    .content-text__title {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 320px) {
    .content-text__title {
        margin-top: 136px;
        font-size: 16px;
        line-height: 22px;
    }
}