.summary-one__souvenirs-header {
  font-family: "DINpro";
  font-weight: bold;
  height: 27px;
  font-size: 20px;
  line-height: 135%;
  color: #141414;
  margin: 28px 0 0 0;
}


@media screen and (max-width: 1024px) {
  .summary-one__souvenirs-header {
    width: 388px;
    height: 54px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .summary-one__souvenirs-header {
    width: 340px;
    height: 40px;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.25px;
    margin: 28px auto 0;
  }
}

@media screen and (max-width: 768px){
  .summary-one__souvenirs-header {
    margin-top: 0;
    width: 288px;
    margin: 28px auto 0;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.25px;
  }
}
