.summary-two__photo {
    display: grid;
    grid-template-rows: 70px 1fr;
}

@media screen and (max-width: 1024px) {
    .summary-two__photo {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .summary-two__photo {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 321px) {
    .summary-two__photo {
        width: 320px;
        margin: 0;
    }
}
