.area__description {
    font-family: DINPro;
    font-size: 20px;
    line-height: 125%;
    text-align: right;
    margin: 0px;
    font-weight: 500;
}

.area__description:first-child {
    margin-bottom: 14px;
}

@media (max-width: 1025px) {
    .area__description {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
      .area__description {
        font-size: 18px;
        line-height: 135%;
        text-align: right;
    }   
    
}

@media (min-width: 321px) and (max-width: 767px) {
    .area__description {
        text-align: left;
    }       
}


@media (max-width: 321px){
    .area__description {
        font-size: 16px;
        text-align: left;
    }         

    .area__description:first-child {
      margin-bottom: 16px;
  }
}

