@media screen and (max-width: 626px) {
    .checkout__container {
        padding-left: 50px;
        padding-bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .checkout__container {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
}