@import url('./__container/help__container.css');

.help {
    width: 100%;
    /* max-height: 620px; */
    background-color: #0493CE;
    padding-bottom: 20px;
}

@media (min-width: 321px) and (max-width: 768px)  {
    .help {
        max-width: 768px;
    }
    
}

@media screen and (max-width: 320px) {
    .help {
        height: 840px;
    }
}