.summary-two__comment {
    display: grid;
    grid-row-gap: 29px;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}

@media screen and (max-width: 1215px) {
    .summary-two__comment {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .summary-two__comment {
        padding: 0;
        grid-row-gap: 28px;
        grid-column-gap: 60px;
    }
}

@media screen and (max-width: 976px) {
    .summary-two__comment {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .summary-two__comment {
        padding: 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-gap: 24px;
    }
}
