.skills__subtitle {
    margin-top: 72px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    text-transform: uppercase;

    color: #141414;
}

@media screen and (max-width: 1024px) {
    .skills__subtitle {
        margin-top: 72px;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.25px;
        text-transform: uppercase;
    
        color: #141414;
    }
}

@media screen and (max-width: 768px) {
    .skills__subtitle {
        margin-top: 72px;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.25px;
        text-transform: uppercase;
    
        color: #141414;
    }
}

@media screen and (max-width: 320px) {
    .skills__subtitle {
        margin-top: 60px;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 22px;
    }
}