
.area__budget {
    order: 3;
    bottom: 232px;
    position: absolute;
    right: 348px;
    z-index: 1;
    width: 360px;
    font-weight: 500;
}

@media (min-width: 1025px) and (max-width: 1439px) {
    .area__budget {
        right: calc(50% - 180px);
        bottom: 0px;
    }    
}

@media (max-width: 1025px) {
    .area__budget {
        right: 136px;
        bottom: 244px;
        font-size: 20px;
    }  

}

@media (min-width: 768px) and (max-width: 1024px) {
    .area__budget {
        right: calc(50% - 180px);
        bottom: 0px;
    }  

}


@media (max-width: 768px) {
    .area__budget {
        right: 216px;
        bottom: 160px;
        font-size: 18px;
        line-height: 135%;
    }  
    .budget__title {
      font-size: 22px;
    }
    
}



@media (max-width: 767px) {
    .area__budget {
        order: 2;
        margin: 0 auto;
        position: relative;
        right: 0;
        bottom: 0;
        max-width: 90%;
        margin: -90px auto -16px;
        z-index: 1;
    }
}

@media (max-width: 321px){
    .area__budget {
      order: 2;
      position: relative;
      right: 0px;
      bottom: 0px;
      z-index: 1;
      max-width: 288px;
      font-size: 18px;
      margin: -90px auto -16px;
    }
}

