@import url('./__title/summary-one__title.css');
@import url('./__first-text/summary-one__first-text.css');
@import url('./__photo/summary-one__photo.css');
@import url('./__quote/summary-one__quote.css');
@import url('./__second-text/summary-one__second-text.css');
@import url('./__souvenirs/summary-one__souvenirs.css');
@import url('./__carousel/summary-one__carousel.css');


.summary-one {
    max-width: 1200px;
    margin: 0 auto;

}

.summary-one__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 604px;
    align-content: space-between;    
    margin: 0 auto;
}

.summary-one__content .column {
    max-width: 360px;
    width: auto;
}


@media (min-width: 1023px) {
    .summary-one__content {
        max-width: 960px;
        min-height: 598px;
    }

    .summary-one__content .column {
        max-width: 304px;
        width: auto;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .summary-one__content {
        max-width: 704px;
        min-height: 526px;
    }

    .summary-one__content .column {
        max-width: 340px;
        width: auto;
    }    

    .column.summary-one__photo  {
        max-width: 304px;
    }    
}

@media (max-width: 767px) {

    .summary-one {
        max-width: 100%;

    }

    .summary-one__content {
        flex-direction: column;
        max-height: none;    
        align-content: center;    
    }

    .summary-one__content .column {
        max-width: none;
        width: 90%;
    }
        
}

@media (max-width: 321px) {
    .summary-one {
        max-width: 288px;

    }

    .summary-one__content {
        flex-direction: row;
        max-height: none;        
    }
    

    .summary-one__content .column {
        max-width: 100%;
    }    
}
