@import url('../__sum/payment__sum.css');

.payment__item {
    list-style-type: none;
    display: inline;
    background: transparent;    
}

.payment__item:last-child {
    margin-right: 0px;
}

/* @media screen and (max-width: 414px) {
    .payment__item {
        margin-right: 0;
    }
} */

@media screen and (max-width: 320px) {
    .random__sum-heading {
        display: none;
    }
}



