#checkout_submit.submit__button_disabled, 
#submit.submit__button_disabled {
  width: 220px;
  height: 44px;
  font-family: DINPro;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #dddddd;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
}

#checkout_submit.submit__button_disabled:hover,
#submit.submit__button_disabled:hover {
  background-color: white;
  color: #dddddd;
  border: 2px solid #dddddd;
  cursor: default;
}
