.about__subtitle {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    margin: 40px 0px 24px;
}

@media (max-width: 1025px) {

}

@media (max-width: 768px) {
    .about__subtitle {
        font-size: 18px;
        margin: 0px 0px 16px;
    }
    
}

@media (max-width: 680px) {

    .about__subtitle {
     text-align: center;
     font-size: 18px;
     margin: 40px 0px 16px;
    }
  }

@media (max-width: 375px) {
    .about__subtitle {
        font-size: 18px;
        margin: 40px 0px 16px;
    }
    
}

@media (max-width: 321px) {
    .about__subtitle {
      font-size: 18px;
      margin: 40px 0px 16px;
  }
}

