@import url('../__form-heading/help__form-heading.css');
.help__form {
    max-width: 860px;
    padding-left: 54px;
    padding-right: 54px;
    height: 360px;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 60px;
}

@media screen and (max-width: 867px) {
    .help__form {
        max-width: 696px;
        /* height: 428px; */
    }
}

@media screen and (max-width: 768px) {
    .help__form {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 696px;
        height: 428px;
    }
}

@media screen and (max-width: 626px) {
    .help__form {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width: 414px) {
    .help__form{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-top: 36px;
    }
}

@media screen and (max-width: 375px) {
    .help__form {
        max-width: 320px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .help__form {
        max-width: 320px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0;
    }
}