.donate__help-btn {
    width: 180px;
    height: 40px;

    position: relative;
    left: 510px;
    margin: 40px 0 0 0;

    background: #0493CE;
    border: 2px solid #0493CE;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;

    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    outline: none;
}

.donate__help-btn:hover {
    background: #0493CE;
    color: #141414;
    outline: none;
    
}

.donate__help-btn:active {
    color: #FFFFFF;
    outline: none;
}

@media screen and (max-width: 1024px) {
    .donate__help-btn {
        left: 405px
    }
}

@media screen and (max-width: 841px) {
    .donate__help-btn {
        left: 300px;
        margin: 0 auto;
        margin-top: 19px;
    }
}

@media screen and (max-width: 768px) {
    .donate__help-btn {
        left: 0;
        display: block;
        /* left: 235px; */
        margin-top: 19px;
    }
}

@media screen and (max-width: 321px) {
    .donate__help-btn {
        margin-top: 20px;
    }
}