.summary-two__comment-commentator {
    font-family: 'DINPro';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;  
    letter-spacing: 0.25px;
    color: #D1202B;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 220px;
}

@media screen and (max-width: 1024px) {
    .summary-two__comment-commentator {
        width: 188px; 
    }
}

@media screen and (max-width: 768px) {
    .summary-two__comment-commentator {
        font-size: 16px;
        line-height: 20px; 
        width: 316px;
        margin: 0 auto;
        text-align: center;
        padding-top: 16px;
        font-weight: 400;
    }
}

@media screen and (max-width: 321px) {
    .summary-two__comment-commentator {
        padding-top: 0;
        padding-bottom: 16px;
    }
}