.summary-two__quote {
    position: absolute;
    width: 65px;
    height: 45px;
    left: 276px;
    top: 71px;
}

@media screen and (max-width: 1024px) {
    .summary-two__quote {
        width: 48px;
        height: 36px;
        left: 219px;
        top: 96px;  
    }
}

@media screen and (max-width: 768px) {
    .summary-two__quote {
        width: 40px;
        height: 30px;
        left: 332px;
        top: 144px; 
    }
}

@media screen and (max-width: 403px) {
    .summary-two__quote {
        left: 137px;
    }
}

@media screen and (max-width: 321px) {
    .summary-two__quote {
        width: 40px;
        height: 30px;
        left: 137px;
        top: 163px; 
    }
}