.about__title {
    min-width: 100%;
    text-align: center;
    color: #D1202B;
    font-size: 42px;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 0px 40px;
}
@media (max-width: 1025px) {

}

@media (max-width: 768px) {

    
}

@media (max-width: 321px) {
  .about__title {
    font-size: 28px;
    margin: 0px 0px 32px;
  }
}


