.footer__info {
    max-width: 380px;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.25px;
    margin-top: 44px;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .footer__info {
        margin-top: 40px;
    }
    
}

@media (max-width: 375px) {

    
}

@media (max-width: 321px) {
    .footer__info {
        margin-top: 28px;
    }
}