@import url('./__content/footer__content.css');
@import url('./__logo/footer__logo.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__info/footer__info.css');
@import url('./__address/footer__address.css');
@import url('./__contacts/footer__contacts.css');
@import url('./__email/footer__email.css');
@import url('./__tel/footer__tel.css');
@import url('./__nav/footer__nav.css');
@import url('./__link/footer__link.css');
@import url('./__social/footer__social.css');
@import url('./__up-icon/footer__up-icon.css');
@import url('./__credits/footer__credits.css');

.footer {
    background-color: #DDDDDD;
    max-width: 1440px;
    height: 216px;
    position: relative;
    padding-top: 44px;
}


/* @media (max-width: 1024px) {
    .footer {
    }
    
} */

@media (min-width: 321px) and (max-width: 768px) {
    .footer {
        padding-top: 40px;
        max-width: 768px;
        height: auto;
        min-height: 280px;
    }
    
    
}

@media (max-width: 321px) {
    .footer {
        padding-top: 36px;
        height: auto;
        min-height: 364px;
    }
}