.area__budget-title {
    margin: 0px;
    text-transform: uppercase;
    color: #DE262E;
    font-family: DINPro;
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 28px;
}

@media (max-width: 1025px) {
    .area__budget-title {
        margin-bottom: 28px;
    }
}

@media (max-width: 768px) {
    .area__budget-title {
      font-size: 22px;
      margin-bottom: 24px;
    }
    
}

@media (max-width: 321px){
    .area__budget-title {
      font-size: 22px;
      margin-bottom: 17px;
    }    
}

