.summary-three__about {
    font-family: 'DINPro';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #141414;
    margin: 0;
    max-width: 568px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.summary-three__about p:last-child {
    margin-bottom: 0px;
}

@media screen and (max-width: 1315px) {
    .summary-three__about {
        padding-right: 20px;
    }
}

@media screen and (max-width: 1025px) {
    .summary-three__about {
        padding-right: 0;
        max-width: 464px;
    }
}

@media screen and (max-width: 1004px) {
    .summary-three__about {
        padding-right: 20px;
    }
}

@media screen and (max-width: 906px) {
    .summary-three__about {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 0 auto;
        padding-top: 28px;
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .summary-three__about {
        max-width: 656px;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #141414;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 0 auto;
        padding-top: 28px;
        padding-right: 0;
    }
}

@media screen and (max-width: 680px) {
    .summary-three__about {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 320px) {
    .summary-three__about {
        max-width: 288px;
        font-size: 14px;
        line-height: 19px;
        padding-top: 24px;
    }
}