.summary-one__second-text {
    order: 5;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.25px;
}

@media (max-width: 1024px) {

}

@media (min-width: 767px) and (max-width: 1023px){
    .summary-one__second-text {
        order: 3;
        font-size: 16px;
        margin-top: 20px;
        line-height: 125%;
    }
    
}

@media (max-width: 767px) {
    .summary-one__second-text {
        order: 5;
    }   
}

@media (max-width: 321px) {
    .summary-one__second-text {
        order: 5;
        font-size: 14px;
        line-height: 135%;
        margin-bottom: 60px;
    }
}