@import url('./__active/payment__button__active.css');

.payment__button {
    width: 112px;
    height: 44px;
    border: 1px solid #969696;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 22px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    outline: none;    
}

.payment__button:last-child {
    font-size: 13px;
    line-height: 16px;
}

.payment__button:hover {
    background: #969696;
    color: #141414;
    border: none;
    outline: none;
    transition: 0.3s;    
}

.payment__button:focus {
    background: #0493CE;
    color: #ffffff;
    border: none;
    outline: none;
}