.summary-one__quote {
    order: 4;
    min-width: 550px;
    margin: 72px 0px 0px -200px;
    font-size: 34px;
    line-height: 130%;
    font-weight: 500;
    position: relative;
    padding-bottom: 248px;
}


.summary-one__quote::before {
    width: 72px;
    height: 54px;
    background-image: url('../../../images/quote.svg');
    content: ' ';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    top: -25px;
    left: -14px;
    background-size: contain;
    opacity: 0.5;
}

@media (min-width: 1023px) {
    .summary-one__quote {
        font-size: 28px;
        min-width: 428px;
        padding-bottom: 186px;
        margin: 64px 0px 0px -135px;
    }
    .summary-one__quote::before {
        width: 60px;
        height: 45px;
        top: -18px;
        left: -10px;
    }
}

@media (min-width: 767px) and (max-width: 1023px){
    .summary-one__quote {
        font-size: 20px;
        min-width: auto;
        margin: 78px 0px 0px 0px;
        padding-bottom: 32px;
        font-weight: 700;
    }
    .summary-one__quote::before {
        width: 40px;
        height: 30px;
        top: -15px;
        left: -8px;
    }
}


@media (max-width: 767px) {
    .summary-one__quote {
        order: 2;
        margin: 40px auto 20px;
        padding-bottom: 32px;
        font-size: 20px;
        max-width: none;
        width: 90%;
        min-width: auto;
    }    
}

@media (max-width: 321px) {
    .summary-one__quote {
        order: 2;
        max-width: 280px;
        margin: 40px auto 20px;
        padding: 0px;
        font-weight: 700;
    }

    .summary-one__quote::before {
        width: 40px;
        height: 40px;
        top: -12px;
        left: -6px;
    }
}