@import url('../__title/thanks__title.css');
@import url('../__subtitle/thanks__subtitle.css');
@import url('../__icons/thanks__icons.css');
@import url('../__close/thanks__close.css');

.thanks__content {    
        max-width: 692px;
        background: #FFFFFF;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;   
}