.about__programms {
    width: 476px;
}

.about__programms .about__subtitle {
    margin: 40px 0px 20px;
}

@media (max-width: 1025px) {
        .about__programms {
            width: 424px;
        }
        .about__programms .about__subtitle {
            font-size: 18px;
        }
}

@media (max-width: 848px) {
    .about__programms {
      margin: 0 auto;
  }
  }

@media (max-width: 768px) {
    .about__programms .about__subtitle {
        font-size: 18px;
        margin: 0px 0px 22px;
        text-align: center;
    }
    .about__programms {
        width: 420px;
        margin: 40px auto 0px;
    }
    
}


@media (max-width: 321px) {
    .about__programms .about__subtitle {
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.25px;
        margin: 0px 0px 24px;
    }

    .about__programms {
        width: 100%;
        margin: 40px auto 0px;
    }
}


