.summary-one__carousel {
  width: 288px;
  display: none;
}

.carousel__image {
  width: 288px;
  height: 208px;
}

.gallery-cell {
  width: 288px;
  height: 208px;
}

.gallery-cell img {
  width: 100%;
}

.flickity-button {
  background: transparent;
  display: none;
}

/* position dots in carousel */

.flickity-page-dots {
  bottom: 0px;
}

/* white circles */

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #969696;
}

/* fill-in selected dot */

.flickity-page-dots .dot.is-selected {
  background: #969696;
  border: 2px solid #969696;
}

.summary-one__carousel:after {
  content: 'flickity';
  display: none;
  /* hide :after */
}

@media screen and (max-width: 321px) {
  .summary-one__carousel {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  /* disable Flickity for large devices */
  .summary-one__carousel:after {
    content: '';
  }
}