.popup__subtitle {
  font-family: DINPro;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.25px;
  color: #141414;
  margin: 4px auto 0;
  max-width: 396px;
}

@media screen and (max-width: 320px) {
  .popup__subtitle {
    margin-top: 22px;
    font-size: 14px;
    line-height: 135%;
  }
}

