.payment__item {
    display: inline;
    margin-right: 16px;    
}



/* @media screen and (max-width: 768px) {
    .payment__item:last-child {
        margin-right: 0
    }
    .payment__item {
        margin-right: 0;
    }
}  */