@import url('./__description/area__description.css');
@import url('./__descriptions/area__descriptions.css');
@import url('./__budget/area__budget.css');
@import url('./__budget-title/area__budget-title.css');
@import url('./__illustration/area__illustration.css');
@import url('./__title/area__title.css');

.area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 860px;
    width: 100%;
    align-content: flex-start;
    position: relative;
    overflow: hidden;
    padding: 100px 0px 177px 0px;
}

@media (max-width: 1025px) {
    .area {
        align-content: space-between;
        padding: 100px 0px 208px 0px;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .area {
        align-content: center;
        padding: 100px 0px 340px 0px;
        max-width: 768px;
    }
    
}

@media (max-width: 767px) {
    .area {
        max-height: none;
        padding: 100px 0px 180px 0px;
        flex-direction: column;
        flex-wrap: nowrap;
    } 
}

@media (max-width: 321px) {
  .area {
      max-height: none;
      display: block;
      padding: 125px 0px 120px 0px;
  }
}

