.footer__contacts {
    display: flex;
    flex-direction: row;
    width: 234px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer__contacts span {
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.25px;
    margin: 0px 8px 0px 0px;
    font-weight: 500;
}


@media (max-width: 1024px) {
    .footer__contacts {
        width: 148px;
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .footer__contacts span {
        font-size: 16px;
    }
    .footer__contacts {
        margin-left: 89px;
        /* margin-top: -100px; */
    }
    
}

@media (max-width: 375px) {

    
}

@media (max-width: 321px) {
    .footer__contacts {
        margin: 0px;
        order: 2;
        align-content: flex-start;
    }
    .footer__contacts span {
        font-size: 14px;

    }
}