.about__list .list__item {
    /* border-bottom: 2px dotted #D1202B; */
    background-image: linear-gradient(to right, #D1202B 15%, rgba(255, 255, 255, 0) 40%);
    padding-bottom: 2px;
}

.about__list .list__item span:last-child {
    font-weight: 700;
    max-width: 184px;
}


@media (max-width: 1025px) {
    .about__list .list__item span {
        font-size: 18px
    }    
    .about__list .list__item span:last-child {
        width: 160px;
    }
    .about__list .list__item span:first-child{
        width: 220px;
    }
}

@media (max-width: 768px) {
    .about__list .list__item span {
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.25px;
    }  
    
}

@media (max-width: 406px) {
    .about__list .list__item {
        flex-direction: column;
        align-items: start;
    }
    .about__list .list__item span {
        width: 100%;
        font-size: 16px;
        letter-spacing: 0.25px;
    }

    .about__list .list__item span:last-child {
        text-align: left;
        max-width: 100%;
    }
}

@media (max-width: 321px) {
    .about__list .list__item {
        flex-direction: column;
        align-items: start;
    }
    .about__list .list__item span {
        width: 100%;
        font-size: 16px;
        letter-spacing: 0.25px;
    }

    .about__list .list__item span:last-child {
        text-align: left;
        max-width: 100%;
    }
}

