.summary-three__title {
    font-family: 'DINPro';
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
    color: #D1202B;
    margin: 0 0 24px 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 1025px) {
    .summary-three__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 906px) {
    .summary-three__title {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .summary-three__title {
        font-size: 22px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .summary-three__title {
        margin-bottom: 20px;
    }
}