.help__unsubscribe {
    margin: 36px auto 0;
    width: 560px;
    font-family: DINPro;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.25px;
    color: #141414;
}

@media screen and (max-width: 700px) {
    .help__unsubscribe {
        width: 260px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 320px) {
    .help__unsubscribe {
        width: 250px;
        height: 56px;
        font-family: DINPro;
        font-size: 14px;
        line-height: 135%;
        text-align: center;
        letter-spacing: 0.25px;
        color: #141414;
    }
}