@import url(./__photo/summary-three__photo.css);
@import url(./__about/summary-three__about.css);
@import url(./__title/summary-three__title.css);
@import url(./__video/summary-three__video.css);
@import url(./__video-item/summary-three__video-item.css);
@import url(./__video-title/summary-three__video-title.css);

.summary-three {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 680px 1fr;
    grid-template-rows: 50px auto 1fr;
    margin-top: 208px;
    grid-column-gap: 56px;
    margin-bottom: 56px;
}

@media screen and (max-width: 1025px) {
    .summary-three {
        max-width: 1024px;
        grid-template-columns: 500px 1fr;
        grid-template-rows: 50px 514px 1fr;
        grid-column-gap: 30px;
        margin-top: 200px;
    }
}

@media screen and (max-width: 906px) {
    .summary-three {
        /* max-width: 768px; */
        grid-template-columns: 1fr;
        grid-template-rows: 50px 404px auto auto;
        margin-top: 180px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 320px) {
    .summary-three {
        max-width: 320px;
        grid-template-rows: 50px 372px auto auto;
        margin-top: 136px;
        margin-bottom: 0px;
    }
}