.footer__nav {
    max-width: 380px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



@media (max-width: 1024px) {

    
}

@media (max-width: 768px) {

    
}

@media (max-width: 375px) {

    
}

@media (max-width: 321px) {
    .footer__nav {
        order: 3;
        margin-top: 36px;
    }
}