@media screen and (max-width: 1025px) {
    .summary-three__video-item {
        max-width: 632px;
        height: 360px;
    }
}

@media screen and (max-width: 895px) {
    .summary-three__video-item {
        max-width: 600px;
    }
}

@media screen and (max-width: 640px) {
    .summary-three__video-item {
        width:100%;
    }
}


@media screen and (max-width: 320px) {
    .summary-three__video-item {
        width: 320px;
        height: 260px;
    }
}