.random__sum-heading {
    font-family: DINPro;
    font-size: 14px;
    line-height: 135%;
    text-align: right;
    letter-spacing: 0.25px;
    font-weight: 700;
    text-align: center;
    color: #141414;
    width: 123px;
    height: 19px;    
    position: absolute;
    left: 278px;    
    top: 170px;
    align-self: center;
    margin-top: 18px;
}

@media screen and (max-width: 425px) {
    .random__sum-heading {
        display: none;
    }
}