

.single__payment {
    width: 260px;
    height: 40px;
    border: 2px solid #0493CE;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.7px;
    outline: none;    
    color: #0493CE;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}
 

.single__payment:hover {
    background: #969696;
    color: #141414;
    border: none;
    outline: none;
    transition: 0.3s;    
}

.single__payment:focus {
    background: #0493CE;
    color: #ffffff;
    border: none;
    outline: none;
}

@media screen and (max-width: 414px) {
    .single__payment {
        align-self: center;
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 375px) {
    .single__payment {
        margin: 0 auto;
        margin-top: 5px;
    }
}

@media screen and (max-width: 320px) {
    .single__payment {
        margin: 0 auto;
        margin-top: 48px;
    }
}