.single-button {
    width: 100%;
    display: flex;
}


.single-button .reccurent__payment {
    margin: 60px auto 148px;
}

.single-button.reccurent__payment:hover {
    transition: 0.3s;
}


@media screen and (max-width: 1024px) {    
    .single-button .reccurent__payment {
        margin: 60px auto 140px;
    }
}

@media screen and (max-width: 768px) {    
    .single-button .reccurent__payment {
        margin: 60px auto 120px;
    }
}

@media screen and (max-width: 320px) {    
    .single-button .reccurent__payment {
        margin: 40px auto 96px;
    }
}