@import url('./__title/skills__title.css');
@import url('./__text/skills__text.css');
@import url('./__subtitle/skills__subtitle.css');

.skills {
    max-width: 1200px;
    padding-bottom: 178px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .skills {
        max-width: 960px;
    
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .skills {
        max-width: 704px;
    
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .skills {
        max-width: 288px;
    
        margin: 0 auto;
    }
}