@import url('./__sum-heading/random__sum-heading.css');
@import url('./__random__sum/random__sum.css');

.random {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px auto 0;    
}

@media screen and (max-width: 320px) {
    .random {
        position: absolute;
        margin: -48px 0px 0 170px;
    }
}