.summary-two__photo-pic {
    background: url('../../../images/misha.jpg');
    background-repeat: no-repeat;
    width: 484px;
    height: 312px;
    grid-column-start: 1;
    grid-column-end: 2;
}

@media screen and (max-width: 1024px) {
    .summary-two__photo-pic {
        width: 388px;
        height: 252px;
        background-size: contain;
    }
}

@media screen and (max-width: 768px) {
    .summary-two__photo-pic {
        margin: 0 auto;
    }
}

@media screen and (max-width: 392px) {
    .summary-two__photo-pic {
        width: 100%;
    }
}



@media screen and (max-width: 321px) {
    .summary-two__photo-pic {
        /* width: 100%; */
        height: 252px;
        background-size: cover;
    }
}