@import url('./__item/social__item.css');
@import url('./__list/social__list.css');

.footer .social {
    padding: 0px;
    margin: 20px 0px 0px;
}

@media (max-width: 1024px) {
    .footer .social {
        margin: 17px 0px 0px;
    }
}

@media (max-width: 768px) {
    .footer .social {
        margin: 16px 0px 0px;
        display: block;
    }
}

@media (max-width: 375px) {

    
}

@media (max-width: 321px) {
    .footer .social {
        margin: 32px 0px 0px;
        display: block;
    }
}