.area__title {
    font-family: 'DINPro';
    font-size: 42px;
    line-height: 120%;
    text-align: right;
    text-transform: uppercase;
    color: #0493CE;
    max-width: 570px;
    align-self: flex-end;
    margin: 0px;
}

@media (max-width: 1025px) {
    .area__title {
        font-size: 28px;
        max-width: 360px;
    }
}

@media (max-width: 768px) {
    .area__title {
        font-size: 28px;
        max-width: 360px;
    }   
    
}



@media (max-width: 767px) {
    .area__title {
        max-width: 90%;
        align-self: center;
        text-align: left;
    }
}

@media (max-width: 321px){
    .area__title {
        font-size: 28px;
        max-width: 188px;
        text-align: left;
        margin: 0 auto;
        word-wrap: break-word;
        margin-left: 16px;
    }  
}
